apiVersion: apps/v1
kind: Deployment
metadata:
  name: load-generator-python
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: load-generator-python
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
          limits:
            cpu: 400m
            memory: 1Gi
