apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-node
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: api-node
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: 1000m
            memory: 2Gi
