name: Destroy Infrastructure
run-name: Destroy Infrastructure in ${{ inputs.environment }} - ${{ inputs.stack }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select the environment to update"
        required: true
        type: choice
        options:
          - staging
          - production
      stack:
        description: "Select the stack to destroy"
        required: true
        type: choice
        options:
          - 1-infrastructure
          - 2-compute
      destroy:
        description: "Confirm destruction of infrastructure"
        required: true
        type: boolean
        default: false

concurrency:
  group: ${{ github.workflow }}-gitops-${{ inputs.environment }}-${{ inputs.stack }}
  cancel-in-progress: false

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1
      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2
      - name: Terraform Destroy Plan
        working-directory: terraform/environments/${{ inputs.environment }}/${{ inputs.stack }}
        run: |
          terraform init
          terraform plan -destroy
      - name: Terraform Destroy Apply
        working-directory: terraform/environments/${{ inputs.environment }}/${{ inputs.stack }}
        run: |
          if [ "${{ inputs.destroy }}" = "true" ]; then
          echo "Destruction confirmed. Proceeding with terraform destroy..."
          terraform destroy -auto-approve
          else
            echo "Destruction not confirmed. Set 'destroy' input to true to proceed."
          fi
